.manu {
  margin-left: 500px;
  margin-top: 100px;
}

.btn1 {
  border: 2px solid orangered;
  color: orangered;
  background: transparent;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn1:hover {
  color: white;
  background-color: orangered;
}

.btn2 {
  margin: 10px;
  background-color: orangered;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
