.publish {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 40px;
  background-color: orangered;
}

.publish-text {
  flex: 1;
  color: white;
}

.h1 span {
  background-color: black;
  color: white;
  padding: 4px 8px;
}

.h2,
.para,
.p {
  color: white;
}

.btn3 {
  margin: 10px;
  border: 2px solid black;
  color: black;
  background: transparent;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn3:hover {
  background-color: black;
  color: white;
}

.btn4 {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
