.div1 {
  text-align: center;
  padding: 80px 20px;
  background: #fff;
}

.div1 h2 {
  font-size: 24px;
  font-weight: 600;
  color: #ff7a00;
}

.div1 h1 {
  font-size: 40px;
  font-weight: bold;
  margin-top: 15px;
  color: #111;
}
